@import "mixins";
@import "variables";
@import "base";
@import "prefix";
@import "title";
@import "button";
@import "header";
@import "banner";
@import "layout";
@import "element";
@import "card";
@import "listing";
@import "details_page.scss";
@import "agent";
@import "pricing";
@import "service.scss";
@import "project.scss";
@import "feedback";
@import "blog";
@import "contact.scss";
@import "footer";
@import "login";
@import "dashboard";
@import "animation";
// @import "vendor";
@import "nice-select";
@import "slider";
@import "responsive";

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3e%3cpath d='M5.2 4l-4.2 4 1.1 1.1 4.9-4.9-4.9-4.9-1.1 1.1z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3e%3cpath d='M5.2 4l-4.2 4 1.1 1.1 4.9-4.9-4.9-4.9-1.1 1.1z'/%3e%3c/svg%3e");
  transform: rotate(180deg);
}

.form_error {
  font-size: medium;
  padding-left: 1rem;
}

.title-request-slice {
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.title-card-slice {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.content-request-slice {
  white-space: wrap;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  color: grey;
  opacity: 1;
  /* Firefox */
}

input::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: grey;
  opacity: 0.5;
}

.offcanvas-detail {
  width: 50vw !important;
}

.disable {
  pointer-events: none;
  user-select: none;
}

.one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 991px) {
  .offcanvas-detail {
    width: 100vw !important;
  }

}

.link-hover {
  &:hover {
    text-decoration: underline;
    color: $color-one;
  }
}


@keyframes shake {
  0% {
    transform: translateX(-18px);
  }

  20% {
    transform: translateX(18px);
  }

  40% {
    transform: translateX(-18px);
  }

  60% {
    transform: translateX(18px);
  }

  80% {
    transform: translateX(-8px);
  }

  100% {
    transform: translateX(0px);
  }
}